# SQL Advanced – Introduction & Advanced Functions

## Q1: Difference between DDL, DML, and DQL

- **DDL** defines database structure (CREATE, ALTER).
- **DML** manipulates data (INSERT, UPDATE, DELETE).
- **DQL** retrieves data (SELECT).

**Practical Insight:** Clear separation improves database security and governance.

## Q2: SQL Constraints

Constraints enforce data integrity.

- PRIMARY KEY
- NOT NULL
- FOREIGN KEY

Used to prevent invalid or inconsistent data.

## Q3: LIMIT and OFFSET

LIMIT controls rows returned, OFFSET skips rows.

```sql
SELECT * FROM Products LIMIT 10 OFFSET 20;
```

## Q4: Common Table Expression (CTE)

CTEs improve readability and reusability.

```sql
WITH temp AS (SELECT * FROM Products) SELECT * FROM temp;
```

## Q5: Normalization

1NF: Atomic values
2NF: No partial dependency
3NF: No transitive dependency

In [ ]:
-- Q6: Create ECommerceDB schema
CREATE DATABASE ECommerceDB;
USE ECommerceDB;

CREATE TABLE Categories (
    CategoryID INT PRIMARY KEY,
    CategoryName VARCHAR(50) UNIQUE NOT NULL
);

CREATE TABLE Products (
    ProductID INT PRIMARY KEY,
    ProductName VARCHAR(100) UNIQUE NOT NULL,
    CategoryID INT,
    Price DECIMAL(10,2),
    StockQuantity INT,
    FOREIGN KEY (CategoryID) REFERENCES Categories(CategoryID)
);

In [ ]:
-- Q7: Customer order count
SELECT c.CustomerName, c.Email, COUNT(o.OrderID) AS TotalOrders
FROM Customers c
LEFT JOIN Orders o ON c.CustomerID = o.CustomerID
GROUP BY c.CustomerID, c.CustomerName, c.Email;

In [ ]:
-- Q8: Product and category details
SELECT p.ProductName, p.Price, p.StockQuantity, c.CategoryName
FROM Products p
JOIN Categories c ON p.CategoryID = c.CategoryID
ORDER BY c.CategoryName, p.ProductName;

In [ ]:
-- Q9: Top 2 expensive products per category
WITH ranked AS (
    SELECT c.CategoryName, p.ProductName, p.Price,
           ROW_NUMBER() OVER (PARTITION BY c.CategoryName ORDER BY p.Price DESC) rn
    FROM Products p
    JOIN Categories c ON p.CategoryID = c.CategoryID
)
SELECT CategoryName, ProductName, Price FROM ranked WHERE rn <= 2;

In [ ]:
-- Q10: Sakila example – top customers
SELECT c.first_name, c.last_name, SUM(p.amount) total_spent
FROM customer c
JOIN payment p ON c.customer_id = p.customer_id
GROUP BY c.customer_id
ORDER BY total_spent DESC
LIMIT 5;